@charset "utf-8";
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* 숨김 콘텐츠 */
.readable-hidden{
    background: pink;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

body{
  

}
/* 모바일 디바이스 */
@media screen and (max-width: 999px){
    /* 모바일 로고 */
    .logo{
        width: 50%;
        margin: 0 auto;
    }
    /* 모바일 메뉴 */
    .menu{
        background: yellow;
        display: flex;
        justify-content: space-around;
    }
    .menu a{
        display: block;
        background: pink;
        padding: 1em;
        text-transform: uppercase;
    }
}
/* 데스크탑 디바이스 */
@media screen and (min-width: 1000px){
    /* 데스크탑 헤더 */
    .header{
        display: grid;
        grid-template-areas: "logo    menu";
        background: lime;
        align-items: center;
        padding: 1em 2em;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    /* 데스크탑 로고 */
    .logo{
        grid-area: logo;
        width: 20%;
        background-color: yellow;
    }
    /* 데스크탑 메뉴 */
    .menu{
        grid-area: menu;
        display: flex;
        background: pink;
    }
    .menu a{
        display: block;
        padding: 1em 1em 1em 0;
    }
    .menu a::before{
        content: "|";
        padding-right: 1em;
    }
    .menu li:first-child a::before{
        content: "";
    }
    .ad{
        background: orange;
        height: 50vh;
    }
    .main{
        background: silver;
        height: 50vh;
    }
    .footer{
        background: aqua;
        height: 50vh;
    }
}