.bg-light{
    background-color: rgb(48, 240, 135)!important;
    color:#fff !important;

}

.card{
    width:80%;
    margin:0 auto;
}
 /* .row.col:nth-child(odd).card{
     background: pink;
 } */

